<script src="js/shared/jquery.asonWidget.js"></script>
<script src="js/calls/dashboard.2.js"></script>
<script src="js/calls/part.header.1.js"></script>
<script src="js/calls/part.sidebar.2.js"></script>
<div class="l-dashboard">
  <div ng-show='loadCompetition'>
   <div class="loading_div">
     <img src="img/loader.gif" style="width: 70% !important;" />
   </div>
  </div>
  <section class="l-main-container">
    <!--Left Sidebar Content-->
    <aside id="sb-left" class="l-sidebar l-sidebar-1 t-sidebar-1 l-sidebar-compact-left" style="height: 666px !important;">
      <!--Switcher-->
      <div class="l-side-box"><a class="sidebar-switcher switcher t-switcher-side ason-widget">
      <!-- <i class="fa fa-bars"></i> -->
        <h2 style="font-size: 18px;">Menu</h2>
      </a></div>

      <!--Main Menu-->
      <div class="l-side-box">
        <!--MAIN NAVIGATION MENU-->
        <nav class="navigation">
          <ul data-ason-type="menu" class="ason-widget">

            <li ng-class="{'active' : activeState=='home'}"><a ui-sref="admin.home" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;" class="icon fa fa-home"></i><span class="title">Home</span></a>
            </li>
            <li ng-class="{'active' : activeState=='project'}"><a ui-sref="admin.projectlist" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;" class="icon fa fa-tasks"></i><span class="title">Project List</span></a>
            </li>
            <li ng-class="{'active' : activeState=='post'}"><a ui-sref="admin.post" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;"  class="icon fa fa-clipboard "></i><span class="title">Latest Post</span></a>
            </li>

            <li ng-class="{'active' : activeState=='email'}"><a ui-sref="mailMenu.mail" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;"  class="icon fa fa-envelope "></i><span class="title">Email</span></a>
            </li>

            <li ng-class="{'active' : activeState=='faq'}"><a ui-sref="admin.Faq" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;"  class="icon fa fa-question-circle"></i><span class="title">FAQ</span></a>
            </li>

            <li ng-class="{'active' : activeState=='services'}"><a ui-sref="admin.services" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;"  class="icon fa fa-cogs "></i><span class="title">SERVICES</span></a>
            </li>

            <li ng-class="{'active' : activeState=='Team'}"><a ui-sref="admin.team" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;" class="icon fa fa-users"></i><span class="title">Our Team</span></a>
            </li>
            <li ng-class="{'active' : activeState=='Company'}"><a ui-sref="admin.company" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;"  class="icon fa fa-clipboard "></i><span class="title">Company Equipment</span></a>
            </li>

            <li ng-class="{'active' : activeState=='about'}"><a ui-sref="admin.about" style="font-size: 16px !important;font-weight: bold;"><i  style="font-size: 24px !important;"  class="icon fa fa-info-circle"></i><span class="title">ABOUTUS</span></a>
            </li>

            <li><a ng-click="logout()" style="font-size: 16px !important;font-weight: bold;cursor: pointer;"><i  style="font-size: 24px !important;"  class="icon fa fa-power-off"></i><span class="title">Logout</span></a>
            </li>

          </ul>
        </nav>
      </div>
    </aside>
    <!--Main Content-->
  <section class="l-container">
      <!--HEADER-->
     <!--  <header class="l-header l-header-1 t-header-1">
        <div class="navbar navbar-ason">
          <div class="container-fluid">

          </div>
        </div>
      </header> -->
      <!-- Row 1 - Info Widgets-->
      <div ui-view="container"></div>
  </section>
</div>