<!--   <script src="js/shared/jquery.asonWidget.js"></script>
  <script src="js/calls/dashboard.2.js"></script>
  <script src="js/calls/part.header.1.js"></script>
  <script src="js/calls/part.sidebar.2.js"></script> -->

   <section class="l-main-container">
      <!--Main wrapper-->
      <section class="l-container">
        
        <div class="mailcheckbo"  style="margin:0px;">
            <h3 class="new-message-title">New Message</h3>
            <!-- New message header-->
            <!-- New message body-->
            <div class="new-message-body">
              <form name="composeform">
                 <div style="color:red;" ng-show="composeform.Cemail.$invalid && !composeform.Cemail.$pristine" class="error-message padding-right">Invalid Email</div>
                <div class="input-group new-message-to"><span class="input-group-addon">To</span>
                  <input id="inputTo"  type="text" class="form-control" ng-model="compose.to" name = "Cemail" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" uib-typeahead="mail.email as mail.email for mail in searchEmailIds($viewValue)" typeahead-loading="loadingProducts" typeahead-no-results="noResults" required>

                </div>

                <div class="input-group new-message-to"><span class="input-group-addon">Subject</span>
                  <input id="inputSubject" ng-model="compose.subject" type="text" class="form-control">
                </div>
                <div class="form-group message-content">
                  <wysiwyg textarea-id="question" textarea-class="form-control"  textarea-height="300px" textarea-name="textareaQuestion" textarea-required ng-model="compose.editerData" enable-bootstrap-title="true" textarea-menu="Data.customMenu"></wysiwyg>
                </div>
                
                <div class="input-group"><span class="input-group-btn"><span class="btn btn-mail btn-file">Browse…
                   <input type="file" ngf-select="uploadPhoto($files)" accept="image/*" multiple></span></span>
                  <input type="text" readonly="" placeholder="Upload Files" class="form-control input-upload">
                </div>
                 <div class="row" ng-if="compose.images!=''">
                      <div ng-repeat="images in compose.images" style="margin: 2% 0% 0 1%;float: left;background-color: #fafafa;width:30%;">
                        <span>
                          <img width="80%" height="135px" src="../{{images}}" class="thumb">
                          <i ng-click="removeChoice($index)" style="font-size: 27px;cursor:pointer;margin-top: 44px;margin-right: 13px;;color:#F00;" class="close pull-right fa fa-trash-o danger"></i>
                        </span>
                      </div>
                  </div>
              </form>
            </div>
            <!-- New message footer-->
            <div class="new-message-footer">
              <!-- Send-->
              <button type="button" ng-disabled="composeform.$invalid" ng-click="sendMail(compose.to, compose.subject, compose.images, compose.editerData)" class="btn btn-mail-send new-message-send">Send</button>
             <!-- Discard-->
              <button type="reset" class="btn btn-mail new-message-discard"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </div>
    </section>