
 <section class="l-main-container">
    <div ng-show='loadCompetition'>
     <div class="loading_div">
       <img src="img/loader.gif" style="width: 60% !important;" />
     </div>
    </div>
      <!--Left Sidebar Content-->
      <aside id="slide-left" class="l-sidebar l-sidebar-1 t-sidebar-1">
        <!--User Profile-->
        <div class="l-side-box mt-10">
          <div class="widget-profile-2 profile-2-in-side t-profile-2-1">
            <div class="profile-2-img"><a><img src="img/profile/profile.jpg" style="width: 60%;">
                <div class="profile-2-status" style="right: 88px;">
                
                </div></a></div>
            <ul class="profile-2-info">
              <li class="text-center">
                <h3>Capt. Seleman Kasawala Jalakala</h3>
              </li>
            </ul>
          </div>
        </div>
         <!--Mail Compose-->
        <div class="mail-compose"><a ng-click="compose()" class="btn btn-mail-compose">Compose</a></div>
        <hr class="mail-side-sep">
        <!--Mail Menu Box-->
        <div class="l-side-box">
          <!--MAIL NAVIGATION MENU-->
          <nav class="navigation">
            <ul data-ason-type="menu" class="ason-widget">
              <li><a ui-sref="mailMenu.mail"><i class="icon fa fa-inbox"></i><span class="title">Inbox
              </span></a> </li>
             
              <li><a ui-sref="mailMenu.sendMail"><i class="icon fa fa-send"></i><span class="title">Sent</span></a>
              </li>
              
              <li><a ui-sref="mailMenu.deleteMail"><i class="icon fa fa-trash-o"></i><span class="title">Trash</span></a>
              </li>
            </ul>
          </nav>
        </div>
        <hr class="mail-side-sep">
        <nav class="navigation">
            <ul data-ason-type="menu" class="ason-widget">
              
              <li><a ui-sref="admin.home" style="font-size: 16px !important;font-weight: bold;"><i class="icon fa fa-home"></i><span class="title">Home</span></a>
              </li>
              <li><a ui-sref="admin.projectlist" style="font-size: 16px !important;font-weight: bold;"><i class="icon fa fa-tasks"></i><span class="title">Project List</span></a>
              </li>
              <li><a ui-sref="admin.post" style="font-size: 16px !important;font-weight: bold;"><i class="icon fa fa-clipboard "></i><span class="title">Latest Post</span></a>
              </li>

              <li><a ui-sref="admin.Faq" style="font-size: 16px !important;font-weight: bold;"><i class="icon fa fa-question-circle"></i><span class="title">FAQ</span></a>
              </li>

              <li><a ui-sref="admin.services" style="font-size: 16px !important;font-weight: bold;"><i class="icon fa fa-cogs"></i><span class="title">SERVICES</span></a>
              </li>

             <li><a ng-click="logout()" style="font-size: 16px !important;font-weight: bold;"><i class="icon fa fa-power-off"></i><span class="title">Logout</span></a>
              </li>
            
            </ul>
          </nav>
      </aside>
      <!--Main wrapper-->
    <section class="l-container">
      
        <div ui-view="Mailcontainer"></div>
    </section>
  