<script src="js/shared/jquery.asonWidget.js"></script>
<script src="js/calls/dashboard.2.js"></script>
<script src="js/calls/part.header.1.js"></script>
<script src="js/calls/part.sidebar.2.js"></script>

    <section class="l-main-container">
      <!--Left Sidebar Content-->
     
      <!--Main Content-->
    <section class="l-container">
        <!--HEADER-->
        <!-- <header class="l-header l-header-1 t-header-1">
          <div class="navbar navbar-ason">
            <div class="container-fluid">
               
            </div>
          </div>
        </header> -->
        <!-- Row 1 - Info Widgets-->
        <div class="l-page-header">
          <h2 class="l-page-title"><span  style="color:#FFC20A;">Project</span> List</h2>
          <button   type="button" class="btn btn-primary btn-lg" ng-click="AddProject()" style="float: right;margin-top: -52px;color:#FFF;">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
            Add Project
          </button>
        </div>
       

        <div class="no_pro" ng-show="no_product" style="padding: 15% 0 !important;">
            <center>
                <i style="color:#B2B2B2;" class="fa fa-5x fa-exclamation-triangle"></i>
                <div class="h1" style="color:#f2a730;">Whooops!</div>
                <div class="h4" style="color:#B2B2B2;">No Project has been posted</div>
                </div>
            </center>
        </div>
    
    
        <div class="l-spaced" ng-hide="no_product">
          <div class="l-row">
            <div class="l-box l-col-md-12 l-spaced-bottom">
              <div class="l-box-body l-spaced">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="project in projectlist">
                     <td>
                        <img src="../{{project.images[0]}}" style="width: 150px;height: 150px;">
                      </td>
                      <td>
                      <h2 style="font-size:20px !important;color:#FFC20A;">{{project.project_name | limitTo: 100 }}</h2>
                      <p>{{project.project_description | limitTo: 100 }}</p>
                      </td>
                      <td style="padding-top: 30px !important;">
                        <button  style="line-height: 0;padding: 10px;margin: 4px;" type="button" class="btn btn-warning  btn-lg" ng-click="updateProjectlist(project);">
                        <span class="icon fa fa-pencil-square-o"></span> &nbsp;Update</button>
                        <button  style="line-height: 0;padding: 10px 13px;;margin: 4px;" type="button" ng-click="deleteProject(project)" class="btn btn-danger btn-lg">
                        <span class="icon fa fa-trash-o "></span> &nbsp; Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </section>
  </section>
     