<div class="modal-header" style="background:#333d40;">
    <h3 class="title"><span style="color:#FFf">Project Details</span></h3>
</div>
<div class="modal-body">
    <div id="slides_control" class="myCarousel">
      <div >
        <uib-carousel interval="myInterval" active="active_slide">
          <uib-slide ng-repeat="ImageSlider in ImageSliders"  index="$index">
            <img ng-src="{{ImageSlider.image}}" class="carousel" style="margin:0 auto;width: 100% !important;height:300px !important;">
            <!-- <div class="carousel-caption">
              <h6>Advertisements &nbsp;!!</h6>
             </div> -->
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
    <p>This year in our 2014 roadmap one of our goals was to improve financial tooling for authors. A big part of that is the withdrawal cycle.</p>
</div>
<div class="modal-footer" style="text-align:right;">
      <button class="btn btn-lg" style="background:#f7b71e;color:#FFF;" type="button" ng-click="cancel()">Close</button>
</div>
