<!-- <div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title">Delete Confirmation</span></h3>
</div>
<div class="modal-body">
  <h5 style="font-size: 15px;">Do you really want to delete this post ?</h5>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="delete()">Delete</span></button>
</div>
 -->

<div class="ngdialog-content" role="document" style="background: transparent;">

	<div class="ngdialog-message" style="margin: 0;">
		<h3 id="ngdialog1-aria-describedby" tabindex="-1" style="outline: 0px;">Message delete successfully.</h3>
	</div>

</div>