<!-- <script src="vendors/nicescroll/jquery.nicescroll.js"></script>
<script src="js/construction.js"></script> -->
<section id="pageCover1" class="row aboutUs">        
    <div class="row pageTitle">About us</div>
    <div class="row pageBreadcrumbs">
        <ol class="breadcrumb">
          <li><a ui-sref="app.home">home</a></li>
          <li class="active">about us</li>
        </ol>
    </div>
</section>

<section id="services" class="row">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-12" >
                                    <h3 class="text_color">Company profile</h3>
                                    <!-- <i class="fa fa-question"></i> -->
                                    <p>{{aboutUsObj.company_profile}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-12" >
                                    <h3 class="text_color">Our mission</h3>
                                    <!-- <i class="fa fa-question"></i> -->
                                    <p>{{aboutUsObj.our_mission}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-12" >
                                    <h3 class="text_color">Our team</h3>
                                    <!-- <i class="fa fa-question"></i> -->
                                    <section id="latestPosts" class="row" ng-if="ProjectLists!=''">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-4 blog latest-blog" style="cursor:pointer">
                                                    <div class="row m0 blogInner">
                                                    
                                                        <div class="row m0 featureImg">
                                                            <a ng-click="aboutView()">
                                                                <img src="images/about.png" style="height: 200px;" alt="Faceted Search Has Landed" class="img-responsive">
                                                            </a>
                                                        </div>
                                                        <div class="row m0 postExcerpts">
                                                            <div class="row m0 postExcerptInner">
                                                                <a ng-click="aboutView(ProjectList)" class="postTitle row m0"><h4>name</h4></a>

                                                                 <p>description</p>
                                                               <!--  <p>{{ProjectList.project_description | limitTo: 30}}<span ng-if="ProjectList.project_name.length >= 30">...</span> </p> -->
                                                                <a ng-click="aboutView(ProjectList)" class="readMore">read more</a>
                                                            </div>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </section>
                                    <!-- <p>{{aboutUsObj.our_team}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-12" >
                                    <h3 class="text_color">Company Equipment</h3>
                                    <!-- <i class="fa fa-question"></i> -->
                                    <section id="latestPosts" class="row" ng-if="ProjectLists!=''">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-4 blog latest-blog" style="cursor:pointer">
                                                    <div class="row m0 blogInner">
                                                    
                                                        <div class="row m0 featureImg">
                                                            <a ng-click="aboutView()">
                                                                <img src="images/about.png" style="height: 200px;" alt="Faceted Search Has Landed" class="img-responsive">
                                                            </a>
                                                        </div>
                                                        <div class="row m0 postExcerpts">
                                                            <div class="row m0 postExcerptInner">
                                                                <a ng-click="aboutView(ProjectList)" class="postTitle row m0"><h4>name</h4></a>

                                                                 <p>description</p>
                                                               <!--  <p>{{ProjectList.project_description | limitTo: 30}}<span ng-if="ProjectList.project_name.length >= 30">...</span> </p> -->
                                                                <a ng-click="aboutView(ProjectList)" class="readMore">read more</a>
                                                            </div>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </section>
                                    <!-- <p>{{aboutUsObj.company_equipment}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-12" >
                                    <h3 class="text_color">Strategic plan</h3>
                                    <!-- <i class="fa fa-question"></i> -->
                                    <p>{{aboutUsObj.strategic_plan}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>
<br /><br />