<script src="js/construction.js"></script>
<script src="lib/google-map.js"></script>
<section id="pageCover" class="row">
    <img src="images/contactCover.png" alt="" class="pageCover">
    <div class="row pageTitle">Contact us</div>
    <div class="row pageBreadcrumbs">
        <ol class="breadcrumb">
          <li><a href="index.html">home</a></li>
          <li class="active">contact us</li>
        </ol>
    </div>
</section>

<section id="contacts" class="row">
    <div class="container">
        <div class="row">
            <div class="row m0">
                <div class="col-sm-6">
                    <div class="row m0">
                        <h3>Get in touch!</h3>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor <br><br>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                        <ul class="list-inline">
                            <li><i class="fa fa-home"></i> lorem ipsum street</li>
                            <li><i class="fa fa-phone"></i> +399 (500) 321 9548</li>
                            <li><i class="fa fa-envelope"></i> info@domain.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6" ng-app="contactModule" ng-controller="ContactCtrl">
                    <div class="row m0 commentForm">
                        <form class="row m0" novalidate name="contactform">
                            <div class="col-sm-6 p0 commenterInfoInputs">
                                <div class="row m0">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" name="name" ng-model="mail.name" placeholder="Name" required>
                                    </div>
                                    <div class="validation-message padding-right" ng-show="contactform.name.$invalid && submitted">This field is required.</div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" class="form-control" name="email" ng-model="mail.email" placeholder="e-mail" required>
                                    </div>
                                    <div class="validation-message padding-right" ng-show="contactform.email.$error.required && submitted">This field is required.</div>
                                    <div class="validation-message padding-right" ng-show="contactform.email.$invalid && contactform.email.$dirty">Invalid Email</div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="number" name="phone" ng-model="mail.phone" class="form-control" placeholder="Phone" required>
                                    </div>
                                    <div class="validation-message padding-right" ng-show="contactform.phone.$error.required && submitted">This field is required.</div>
                                    <div class="validation-message padding-right" ng-show="contactform.phone.$invalid && contactform.phone.$dirty">Invalid Phone</div>
                                </div>
                            </div>
                            <div class="col-sm-6 p0">
                                <div class="row m0">                                        
                                    <div class="input-group">
                                        <textarea placeholder="Message" name="message" ng-model="mail.message" class="form-control" required></textarea>
                                    </div>
                                    <div class="validation-message padding-right" ng-show="contactform.message.$invalid && submitted">This field is required.</div>
                                    <button class="btn btn-default" type="submit" ng-click="submitted=true;sendEmail(mail)">send message</button>
                                </div>
                            </div>
                        </form>
                        <div ng-if="successMessage" style="text-align:center;color: yellowgreen;font-size: 18px;"><i class="fa fa-check-circle" aria-hidden="true"></i> <strong>{{ successMessage }}</strong></div>
                    </div>
                </div>
            </div>
            <div class="row m0">
                <h3>Find us on Google Map</h3>
                <div id="mapBox"></div>
            </div>
        </div>
    </div>
</section>