<header class="row">
        <div class="container">
            <div class="row">
                <div class="logo col-sm-6">
                    <div class="row">
                        <a ui-sref="app.home"><img src="images/logo.png" style="width: 70%;" alt="Construction - Construction Company HTML Template"></a>
                    </div>
                </div>
            </div>
        </div>
    </header> <!--Header-->
    
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid container">
            <div class="row m04m">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
                        <span class="bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span class="btn-text">Select Page</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="nav navbar-nav">
                        <li class="active "><a ui-sref="app.home">Home</a></li>
                        <li class=" dropdown">
                            <a ui-sref="app.aboutUs" class="dropdown-toggle">about</a>
                            <!-- <ul class="dropdown-menu" role="menu">
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="about-us2.html">About us 2</a></li>
                            </ul> -->
                        </li>
                        <li class=" dropdown">
                            <a ui-sref="app.projects" class="dropdown-toggle">projects</a>
                           <!--  <ul class="dropdown-menu" role="menu">
                                <li><a href="projects_full.html">Full Width Projects</a></li>
                                <li><a href="projects2.html">2 Collumn Projects</a></li>
                                <li><a href="projects3.html">3 Collumn Projects</a></li>
                            </ul> -->
                        </li>
                        <li><a ui-sref="app.services">services</a></li>
                        <!-- <li class=" dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">news</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog2.html">Blog 2 Col</a></li>
                                <li><a href="blog3.html">Blog 3 Col</a></li>
                                <li><a href="single-post.html">Sinlge Post</a></li>
                            </ul>
                        </li> -->
                        <li class=" dropdown">
                            <a ui-sref="app.contact" class="dropdown-toggle">contact</a>
                            <!-- <ul class="dropdown-menu" role="menu">
                                <li><a href="contact.html">Conact us</a></li>
                                <li><a href="contact2.html">Conact us 2</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> <!--Main Nav-->

    <div ui-view="container"></div>

    <footer id="nr_footer" class="row" style="height:44px !important;">
        <div class="container">
            <div class="row copyrightRow">
                &copy; 2016 <a>Eazy BoreDrill</a>, All Rights Reserved
            </div>
        </div>
    </footer>