<div ng-show='loadCompetition'>
   <div class="loading_div">
     <img src="images/loader.gif" style="width:70% !important;" />
   </div>
</div>
<header class="row">
        <div class="container">
            <div class="row">
                <div class="logo col-sm-6">
                    <div class="row">
                        <a ui-sref="app.home"><img src="images/logo.png" style="width: 60%;" alt="Construction - Construction Company HTML Template"></a>
                    </div>
                </div>
            </div>
        </div>
</header> <!--Header-->
    
    <nav class="navbar navbar-static-top">
        <div class="container-fluid container">
            <div class="row m04m">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
                        <span class="bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span class="btn-text">Menu</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active' : activeState=='home'}" data-toggle="collapse" data-target="#main_nav"><a ui-sref="app.home">Home</a></li>
                        <li ng-class="{'active' : activeState=='about'}" data-toggle="collapse" data-target="#main_nav"> 
                            <a ui-sref="app.aboutUs" class="dropdown-toggle">about</a>
                        </li>
                        <li ng-class="{'active' : activeState=='project'}" data-toggle="collapse" data-target="#main_nav">
                            <a ui-sref="app.projects" class="dropdown-toggle">projects</a>
                        </li>
                        <li ng-class="{'active' : activeState=='services'}" data-toggle="collapse" data-target="#main_nav"><a ui-sref="app.services" >services</a></li>


                        <li ng-class="{'active' : activeState=='faq'}"><a ui-sref="app.Faq" data-toggle="collapse" data-target="#main_nav">FAQ</a></li>
                        
                        <li ng-class="{'active' : activeState=='contact'}" data-toggle="collapse" data-target="#main_nav">
                            <a ui-sref="app.contact" class="dropdown-toggle">contact</a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> <!--Main Nav-->

    <div ui-view="container" class="topheight"></div>

    <footer id="nr_footer" class="row" style="height:44px !important;">
        <div class="container">
            <div class="row copyrightRow">
                &copy; 2016 <a>Eazy BoreHole Drill</a>, All Rights Reserved
            </div>
        </div>
    </footer>