<script src="vendors/nicescroll/jquery.nicescroll.js"></script>

<section id="pageCover" class="row servicePage">
    <div class="row pageTitle">Services</div>
    <div class="row pageBreadcrumbs">
        <ol class="breadcrumb">
          <li><a ui-sref="app.home">home</a></li>
          <li class="active">services</li>
        </ol>
    </div>
</section>

<section id="services" class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs" ng-repeat="Serviceslist in Serviceslists">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-12">
                                    <h3>{{Serviceslist.title}}</h3>
                                    <!-- <i class="fa fa-question"></i> -->
                                    <p>{{Serviceslist.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>