<section id="pageCover" class="row servicePage">
    <div class="row pageTitle">Services</div>
    <div class="row pageBreadcrumbs">
        <ol class="breadcrumb">
          <li><a href="index.html">home</a></li>
          <li class="active">services</li>
        </ol>
    </div>
</section>

<section id="services" class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="row m0 whyUs">
                        <div class="col-sm-12">
                            <div class="row m0 whyUsInner">
                                <div class="col-sm-7">
                                    <h3>Why Choose Us <i class="fa fa-question"></i></h3>
                                    <p>Gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit duis set odio sit amet nibh vulputate cursus a sit amet mauris. 
    Morbi accumsan ipsum velit. Nam ntec tellus a odio</p>
                                </div>
                                <div class="col-sm-5">
                                    <ul class="list-inline tagFeatures">
                                        <li><span class="badge"><i class="fa fa-check"></i></span> fuly responsive</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> semantic and clean html/css</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> woocommerce support</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> custom widgets</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> +600 google fonts</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> ajax contact form</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> layered psd's</li>
                                        <li><span class="badge"><i class="fa fa-check"></i></span> comming soon page</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m0 whatOffer">
                        <div class="col-sm-12">
                            <div class="row m0 whatOfferInner">
                                <h3>What we offer</h3>
                                <span class="fleft bigLetter">C</span> <span>onstruction</span>  gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit duis set odio sit amet nibh vulputate cursus a sit amet mauris. <br>
Morbi accumsan ipsum velit. Nam ntec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>